# .NET
bin/
obj/
*.user
*.suo
*.cache
*.dll
*.exe
*.pdb
.vs/
.idea/
.vscode/

# Ignorar Segredos e Configurações de Ambiente
appsettings.Development.json
appsettings.Local.json
secrets.json

# Logs e Arquivos temporários
*.log
*.tmp
*.bak

# Arquivos de Sistema (OS)
.DS_Store
Thumbs.db
ehthumbs.db

# Deployment
_PublishedWebsites/
publish/